@model TCC_Viagens.Models.login
<link href="~/Models/Style/Cadastrar/style.css" rel="stylesheet" />
@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>
<div>
    @using (Html.BeginForm("ExcluirUsuario", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <hr />
        <dl class="dl-horizontal">
            @if (TempData["Mensagem Erro Excluir"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
                    @TempData["Mensagem Erro Excluir"]
                </div>
            }

            <dd>
                @Html.EditorFor(model => model.dsLogin, new { htmlAttributes = new { @class = "form-control input", placeholder = " Login" } })
                @Html.ValidationMessageFor(model => model.dsLogin, "", new { @class = "text-danger" })
            </dd>
            <br />
            <dd>
                @Html.EditorFor(model => model.dsSenha, new { htmlAttributes = new { @class = "form-control input", placeholder = "Senha" } })
                @Html.ValidationMessageFor(model => model.dsLogin, "", new { @class = "text-danger" })
            </dd>

        </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Excluir Conta" class="btn btn-default azul" /> 
        </div>
    }
</div>
