@model TCC_Viagens.Models.Banco.Plano
<link href="~/Models/Style/Cadastrar/style.css" rel="stylesheet" />
@{
    ViewBag.Title = "EditarPlanoId";
}

<h2>EditarPlanoId</h2>

@using (Html.BeginForm(Html.BeginForm("EditarPlanoId2", "Plano", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.HiddenFor(model => model.idPlano)
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()

    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.nmPais, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nmPais, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nmPais, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nmCidade, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nmCidade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nmCidade, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dsCidade, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dsCidade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dsCidade, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dsClima, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dsClima, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dsClima, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dsEstadiaInicio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dsEstadiaInicio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dsEstadiaInicio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dsEstadiaTermino, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dsEstadiaTermino, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dsEstadiaTermino, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dsEstadiaTotal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dsEstadiaTotal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dsEstadiaTotal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dsMoeda, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dsMoeda, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dsMoeda, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dsIdiomaP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dsIdiomaP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dsIdiomaP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dsIdiomaS, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dsIdiomaS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dsIdiomaS, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Não Precisa Modificar o Plano", "SaibaMais", "Home")
</div>
